@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'FURORE';
  src: url('https://db.onlinewebfonts.com/t/8e22783d707ad140baa89f4004918167.eot');
  src: url('https://db.onlinewebfonts.com/t/8e22783d707ad140baa89f4004918167.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/8e22783d707ad140baa89f4004918167.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/8e22783d707ad140baa89f4004918167.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/8e22783d707ad140baa89f4004918167.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/8e22783d707ad140baa89f4004918167.svg#FURORE') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
